h1 {
    padding: 100px;
    font-size:100px;
    font-family: Arial, Arial, sans-serif;
}

h2 {
    font-size:30px;
    text-align:center;
    font-family: Arial, Arial, sans-serif;
}

h3 {
    font-size:40px;
    text-align:center;
    font-family: Arial, Arial, sans-serif;
}

h4 {
    font-size:20px;
    text-align:center;
    color:red;
    font-family: Arial, Arial, sans-serif;
}

h5 {
    font-size:40px;
    text-align:center;
    padding:10px;
    font-family: Arial, Arial, sans-serif;
}

h6 {
    font-size:20px;
    text-align:center;
    font-family: Arial, Arial, sans-serif;
}

body {
    background-color: #DBF9FC;
}

dl {
    justify-content: center;
    align-items:center;
    text-align:center;
}

datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  writing-mode: horizontal-tb;
  width: 200px;
}

option {
  padding: 0;
}

input[type="range"] {
  width: 200px;
  margin: 0;
}

pad {
  padding: 40px;
}

.col {
    column-count: 3;
}

.pad {
    padding:60px;
}

.center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
    }

.center2 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

.center3 {
      text-align: center;
      justify-content: center;
      align-items: center;
      height: 400px;
    }
