{% extends 'base.html' %}

{% block header %}
{% include 'message.html' %}
<div class='consent-title'>
	
	<h2>University of Texas at El Paso (UTEP) Institutional Review Board</h2>
	
	<span class='consent-subtitle'><b>Informed Consent Form for Research Involving Human Subjects</b></span>

	<br>
</div>

{% endblock %}
{% block content %}

<div class='consent'>
	<hr>
	<b>Procol Title:</b> <i>Measurements of decision-making rationality</i>
	<br>
	<b>Principal Investigator:</b> <i>Alexander Friedman</i>
	<br>
	<b>UTEP:</b> <i>Biology</i>
	<hr>
	<br>
</div>
<pad>
<div class='consent'><section>
	<b>Introduction</b>
	<hr>
	<p class='consent-paragraph'>
		You are being asked to take part voluntarily in the research project described below, and will be
		compensated for your time. You are encouraged to take your time in making your decision. It is important
		that you read the information that describes the study. Please ask the study researcher or the study
		staff to explain any words or information that you do not clearly understand.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>Why is this study being done?</b>
	<hr>
	<p  class='consent-paragraph'>
		Approximately 1000 adult individuals, 18 years and older will be enrolling in this study. Each participant
		will respond to a series of cost-benefit offers in the format of a survey, individualized based on the
		participants selected rewards and costs. On day 1 the participants will go through some basic questions
		like age range, sex, if experiencing any pain, level of tiredness and then they will be able to pick
		topics/stories of their choice from the list of stories available and each story will have 6 preference
		questions and 16 decision-making questions. In any additional sessions completed, participants will go
		through the same format of decision-making questions. These app sessions will be conducted whenever the
		participant chooses to complete them.
	</p>
	<p  class='consent-paragraph'>
		We will chart subjects’ ability to perform cognitive and moral decision-making at a strategic level.
		We will identify the imbalanced decision-making observed in human subjects such as overvaluation of rewards,
		cost, or risk in decision-making. We will use a combination of neuronal network, algorithmics and analytic
		models to classify the psychometric functions in our subjects. We will develop a predictive model to identify
		the patterns of striosomal circuit activation that led to optimal cost-benefit decision-making. 
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>What is involved in the study?</b>
	<hr>
	<p  class='consent-paragraph'>
		You are being asked to be in the study because we will chart subjects' performance of cost-benefit and moral
		decision-making at a strategic level. The behavioral part of the experiment will be conducted using an
		application which logs responses to a questionnaire presented to the participants in the form of stories.
		This survey application will be sent by a third-party site, Prolific, and therefore the survey will be completed
		in the absence of a proctor/administrator. On day 1 the participants will go through some basic questions like age
		range, sex, if experiencing any pain, level of tiredness and then they will be able to pick topics/stories of their
		choice from the list of stories available and each story will have 8 preference questions and 16 decision-making
		questions that present cost-benefit offers to the participant to evaluate. In any additional sessions completed,
		participants will go through the same format of decision-making questions. After data is collected, using
		computational modeling we will identify the imbalanced decision-making observed in human subjects such as overvaluation
		of rewards, cost, or risk in decision-making. 
	</p>
	<p  class='consent-paragraph'>
		If you decide to enroll in this study, your involvement will last at minimum 1 session completing 4 stories up to as
		many sessions as you decide to complete. Each session is about 20-30 minutes. Each session has 3-4 stories consisting
		of 6 choice preference questions and 16 decision-making questions. Time and day for each session will be determined based
		on the subjects schedule. All participant data is anonymized.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>What are the risks and discomforts of the study?</b>
	<hr>
	<p  class='consent-paragraph'>
		The risks associated with this research are no greater than those involved in daily activities. 
		There are no known or anticipated risks or discomforts associated with participation.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>What will happen if I am injured in this study?</b>
	<hr>
	<p  class='consent-paragraph'>
		The University of Texas at El Paso and its affiliates do not offer to pay for or cover the cost of 
		medical treatment for research related illness or injury. No funds have been set aside to pay or 
		reimburse you in the event of such injury or illness. You will not give up any of your legal rights 
		by signing this consent form. You should report any such injury to <b>Dr. Alexander Friedman at (857)-
		233-1843</b>, and to the <b>UTEP Institutional Review Board (IRB) at (915)-747-6590</b> or 
		<b>irb.orsp@utep.edu</b>.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>Are there benefits to taking part in this study?</b>
	<hr>
	<p  class='consent-paragraph'>
			You will receive monetary compensation for completing this survey. (The successful implementation of 
			our research plan will enable the development of new tools for assessing brain, manipulating state
			and physiological state in the real world; and the development of new tools to classify types of
			decision-makers in real time. It will be transformative to conceptual understanding of decision-making,
			which will create a new training capacity within the U.S. military; the ability to measure optimal
			decision-making in healthy officers and service members. We will create new brain circuit-based cognitive
			neuro-biofeedback therapies that will promote strategic thinking in officer, whose decisions determine the
			future of our democracy in crisis situations. Our enhanced understanding of the brain circuits that support
			decision-making may have implication for semi-automated decision-making by supervised artificial intelligence
			systems.) 
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>What are my costs?</b>
	<hr>
	<p  class='consent-paragraph'>
		There are no direct costs.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>Will I be paid to participate in this study?</b>
	<hr>
	<p  class='consent-paragraph'>
		You will not be compensated for taking part in this research study.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>What other options are there?</b>
	<hr>
	<p  class='consent-paragraph'>
		You have the option not to take part in this study. There will be no penalties involved if you 
		choose not to take part in this study.
		<br>
		Choosing to withdraw or not participate will not affect your grades, class, or university standing.  
		<br>
		Choosing to withdraw or not participate will not affect your employment, departmental, or 
		university standing.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>What if I want to withdraw, or am asked to withdraw from this study?</b>
	<hr>
	<p  class='consent-paragraph'>
		Taking part in this study is voluntary. You have the right to choose not to take part in this study.
		If you do not take part in the study, there will be no penalty or loss of benefit.
	</p>
	<p  class='consent-paragraph'>
		If you choose to take part, you have the right to skip any questions or stop at any time. However,
		we encourage you to talk to a member of the research group so that they know why you are leaving the
		study. If there are any new findings during the study that may affect whether you want to continue to
		take part, you will be told about them.   
	</p>
	<p  class='consent-paragraph'>
		The researcher may decide to stop your participation without your permission, if he or she 
		thinks that being in the study may cause you harm. 
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>Who do I call if I have questions or problems?</b>
	<hr>
	<p  class='consent-paragraph'>
		You may ask any questions you have now. If you have questions later, you may call <b>Dr. 
		Friedman at (857) 233-1843</b> and <b>afriedman@utep.edu</b>.
	</p>
	<p  class='consent-paragraph'>
		If you have questions or concerns about your participation as a research subject, please 
		contact the <b>UTEP Institutional Review Board (IRB) at (915) 747-6590</b> or
		<b>irb.orsp@utep.edu</b>. 
</section></div>
<pad>
<div class='consent'><section>
	<b>What about confidentiality?</b>
	<hr>
	<p  class='consent-paragraph'>
		Your part in this study is confidential. The following procedures will be followed to keep 
		their personal information confidential.
	</p>
	<p  class='consent-paragraph'>
		The results of this research study may be presented at meetings or in publications; 
		however, your name will not be disclosed in those presentations.
	</p>
	<p  class='consent-paragraph'>
		Every effort will be made to keep your information confidential. Your personal 
		information may be disclosed if required by law. 
	</p>
	<p  class='consent-paragraph'>
		Organizations that may inspect and/or copy your research records for quality assurance 
		and data analysis include, but are not necessarily limited to:
		<ul>
			<li>Office of Human Research Protections</li> 
			<li>UTEP Institutional Review Board</li>
		</ul>
		Because of the need to release information to these parties, absolute confidentiality 
		cannot be guaranteed.
	</p>
	<p  class='consent-paragraph'>
		All research involved will keep detailed electronic experimental data stored in a
		database. These notes will have sequentially marked pages, where any experiment will
		be documented in detail. All notes and protocols during experiments will be collected
		by our software. The database will be managed by MATLAB and Postgres SQL functions.
		All notes will be recorded and updated daily. It will be stored on the UTEP server.
		Experimental setup computers and data on the server will be baked up weekly. We will
		create a detailed protocol description for all functions and data as routinely done for
		our past publications. We will use read-me files to create a supplemental material document
		with a description of all the functions and procedures. Data generated from this project
		will be administered in accordance with both University and NSF policies, including NSF data
		sharing policy and implementation guidance. Friedman Laboratory follows an open data
		philosophy. Therefore, in our previous publications and this proposal, all data and protocols
		without exclusion will be deposited into the Mendeley Database. All codes used to analyze and
		process the datal will be submitted to GitHub database. We will create special scripts that
		generate published figures and panels from raw data and include statistical analysis. Any
		inventions developed under this project will be reported and managed as provided by NSF policies.
		The electronic version of the final, upon acceptance for publication will be deposited to the
		National Library of Medicine’s Pubmed Central to be made publicly available no later than one year
		after the official date of publication. Both the PI and the University of Texas at El Paso will have
		responsibilities, and hence rights, concerning access to, use of, and maintenance of original
		research data.
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>Mandatory reporting</b>
	<hr>
	<p  class='consent-paragraph'>
		N/A
	</p>
</section></div>
<pad>
<div class='consent'><section>
	<b>Authorization statement</b>
	<hr>
	<p  class='consent-paragraph'>
		I have read each page of this paper about the study (or it was read to me). I will be given a copy of
		the form to keep. I know I can stop being in this study without penalty.  I know that being in this study
		is voluntary and I choose to be in this study.   
	</p>
	<div class='personal-info'>
		<form method="POST" id="digisign">
			<div class='col3'>
				<div class='center3'>
					<label for="fname">Participant's first name <span style="color:red;">(required)</span>:</label>
					<input type="text" id="fname" name="fname" placeholder="e.g. Jane" required>
					<br><br>
					<label for="lname">Participant's last name <span style="color:red;">(required)</span>:</label>
					<input type="text" id="lname" name="lname" placeholder="e.g. Doe"  required>
				</div>
				<div class='center3'>
					<label for="initials">Participant's initials <span style="color:red;">(required)</span>:</label>
					<input type="text" id="initials" name="initials" placeholder="e.g. J.D." required>
					<br><br>
					<label for="proxyinit">Initials of person obtaining consent:</label>
					<input type="text" id="proxyinit" name="proxyinit" placeholder="(If applicable)">
				</div>
			</div>
			<div>
				<input type="submit" value="Continue" class='btn btn-primary' name='continue'>
				<br>
				<input type='submit' class='btn btn-primary' value="Download form" name='download'>
			</div>
		</form>
	</div>
</section></div>
<pad>
<div class='consent'><footer>
	<hr>
	<i>UTEPIRB V.3 (01/2018)</i>
	<br><br>
	<b>Protocol approved on:</b> <i>M dd, yyyy</i>
	<br>
	<b>Expires on:</b> <i>M dd, yyyy</i>
	<br>
	<b>Study number:</b> <i>[xxxxxxx-x]</i>
	<br>
</footer></div>
{% endblock %}