{% extends 'base.html' %}

{% block header %}

<h3> Your participant ID is: {{participant_id}} </h3>

{% endblock %}

{% block subheader %}

<h2> Please answer the following questions </h2>

{% endblock %}

{% block content %}

<div class='center2'>

<br>

<dl>
<form method="post">
<dt> <label for="sex">Sex assigned at birth:</label> </dt>
<select name="sex" id="sex">
    <option value="male">male</option>
    <option value="female">female</option>
    <option value="intersex">intersex</option>
    <option value="prefer not to disclose">prefer not to disclose</option>
</select>

<dt> <label for="age">Age range:</label> </dt>
<select name="age" id="age">
    <option value="Under 18">Under 18</option>
    <option value="18-25">18-25</option>
    <option value="25-34">25-34</option>
    <option value="35-44">35-44</option>
    <option value="45-54">45-54</option>
    <option value="55-64">55-64</option>
    <option value="65+">65+</option>
</select>


<br>     

<div class = 'slider'>
    <dt> <label for="age">How hungry are you?</label> </dt>
    Not at all <input type="range" min="0" value="50" max="100" name="hunger" id="hunger"/> Starving

    <dt> <label for="age">How tired are you?</label> </dt>
    Not at all <input type="range" min="0" value="50" max="100" name="tired" id='tired'/> Exhausted


    <dt> <label for="age">Are you experiencing any pain?</label> </dt>
    None at all <input type="range" min="0" value="50" max="100" name="pain" id='pain'/> A 10 on the scale

</div>
</dl>

<br> 

<input  style="margin-left: 5em" type="submit" class="btn btn-primary">
</form>
</div>

{%endblock %}



