<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Custom CSS -->
    <link rel= "stylesheet" href= "/static/main.css">
 
</head>

<body>

    <pad> <h2> 
        {% block content %} {% endblock %} 
    </h2> </pad>

    <h4>
    </h4>

<!--
    <h6>
    When considering your preferences: 
     <dl>
        <dt>- please do not repeat values </dt>
        <dt>- values do not need to sum to 100 </dt>
        <dt>- evaluate preferences on an absolute (not relative) scale <dd> i.e. if you don't really care about any of these options, it is best to give them all low scores </dd> </dt>
    </dl>
    </h6>

-->


<div class='center2'>
<form method="post">

<br>
<br> 
<dl>
{%for i in range(1, len+1)%}
    <dt> <label for={{i}}> ...{{opt_dict[i]}}? </label></dt>

    <div class="slider">
    {% block min_label %} {% endblock %} <input type="range" min="0" max="100" value="50" name ={{i}} oninput="this.nextElementSibling.value = this.value"> 
    {% block max_label %} {% endblock %} : <output>50</output>
    </div>
    <br>

{%endfor%}

</dl>

{% block button %} {% endblock %}

</div>
</form>

</body>
</html>

