{% extends 'base.html' %}

{% block header %} <h3> How many stories to include in this session? </h3> {% endblock %}

{% block subheader %}

<br>

<form method = "POST">
<div class = 'center2'>

<label form="text">Number of stories:</label>
<select required name=num_stories>
        <option value=""></option>
        <option value="1">1</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

<br> 

<input style="margin-left: 5em" type='submit' class='btn btn-primary'>

</div>

</form>

{% endblock %}

