
{% extends 'trial.html' %}


{% block content %}

    <br>
    <br>

   {{trial_number}}) {{question}}

{% endblock %}

{% block button %}

<div class='center2'>
	<form method = "post">
		<div class = 'slider'>
			<input class="slider-narrow" type="range" min="0" value="50" max="100" name="response" list="vals"/>
			<datalist id="vals">
			  <option class="slider-option" value="0" label="No">No</option>
			  <option class="slider-option" value="50" label="Maybe">Maybe</option>
			  <option class="slider-option" value="100" label="Yes">Yes</option>
			</datalist>
		</div>
		<br> 

		<input type='submit' class='btn btn-primary'>
	</form>
</div>


{% endblock %}
