{% extends 'base.html' %}

{% block header %}

<h3> End of story {{story_num}} </h3>

{% endblock %}

{% block subheader %}

<pad> <h2> How relevant was this story to you? </h2> </pad>

{% endblock %}

{% block content %}

<div class = 'center2'>
<form method='post'>
<div class="slider">
    Not relevant <input type="range" min="0" max="100" value="50" name ={{i}} oninput="this.nextElementSibling.value = this.value"> 
    Highly relevant<output></output>
</div>

<input type='submit' class='btn btn-primary'>

</div>
</form>


{% endblock %}
